#box{font-family:'calibri';max-height:1000px;max-width:1000px;border:2px solid black;}
#box a{text-decoration : none}
#tag1{font-size: 304%;color: #607ec5}
#tag1:hover{color: red}
#tag2{font-size: 259%;color: #002a8b}
#tag2:hover{color: red}
#tag3{font-size: 259%;color: #86a0dc}
#tag3:hover{color: red}
#tag4{font-size: 483%;color: #4c6db9}
#tag4:hover{color: red}
#tag5{font-size: 216%;color: #607ec5}
#tag5:hover{color: red}
#tag6{font-size: 512%;color: #002a8b}
#tag6:hover{color: red}
#tag7{font-size: 216%;color: #86a0dc}
#tag7:hover{color: red}
#tag8{font-size: 216%;color: #4c6db9}
#tag8:hover{color: red}
#tag9{font-size: 101%;color: #607ec5}
#tag9:hover{color: red}
#tag10{font-size: 389%;color: #002a8b}
#tag10:hover{color: red}
#tag11{font-size: 343%;color: #86a0dc}
#tag11:hover{color: red}
#tag12{font-size: 176%;color: #4c6db9}
#tag12:hover{color: red}
#tag13{font-size: 216%;color: #607ec5}
#tag13:hover{color: red}
#tag14{font-size: 192%;color: #002a8b}
#tag14:hover{color: red}
#tag15{font-size: 483%;color: #86a0dc}
#tag15:hover{color: red}
#tag16{font-size: 259%;color: #4c6db9}
#tag16:hover{color: red}
#tag17{font-size: 512%;color: #607ec5}
#tag17:hover{color: red}
#tag18{font-size: 259%;color: #002a8b}
#tag18:hover{color: red}
#tag19{font-size: 259%;color: #86a0dc}
#tag19:hover{color: red}
#tag20{font-size: 176%;color: #4c6db9}
#tag20:hover{color: red}
#tag21{font-size: 400%;color: #607ec5}
#tag21:hover{color: red}
#tag22{font-size: 216%;color: #002a8b}
#tag22:hover{color: red}
#tag23{font-size: 129%;color: #86a0dc}
#tag23:hover{color: red}
#tag24{font-size: 216%;color: #4c6db9}
#tag24:hover{color: red}
#tag25{font-size: 200%;color: #607ec5}
#tag25:hover{color: red}
#tag26{font-size: 432%;color: #002a8b}
#tag26:hover{color: red}
#tag27{font-size: 343%;color: #86a0dc}
#tag27:hover{color: red}
#tag28{font-size: 259%;color: #4c6db9}
#tag28:hover{color: red}
#tag29{font-size: 343%;color: #607ec5}
#tag29:hover{color: red}
#tag30{font-size: 389%;color: #002a8b}
#tag30:hover{color: red}
#tag31{font-size: 50%;color: #86a0dc}
#tag31:hover{color: red}
#tag32{font-size: 176%;color: #4c6db9}
#tag32:hover{color: red}
#tag33{font-size: 512%;color: #607ec5}
#tag33:hover{color: red}
#tag34{font-size: 343%;color: #002a8b}
#tag34:hover{color: red}
#tag35{font-size: 208%;color: #86a0dc}
#tag35:hover{color: red}
#tag36{font-size: 176%;color: #4c6db9}
#tag36:hover{color: red}
#tag37{font-size: 129%;color: #607ec5}
#tag37:hover{color: red}
#tag38{font-size: 375%;color: #002a8b}
#tag38:hover{color: red}
#tag39{font-size: 216%;color: #86a0dc}
#tag39:hover{color: red}
#tag40{font-size: 200%;color: #4c6db9}
#tag40:hover{color: red}
#tag41{font-size: 200%;color: #607ec5}
#tag41:hover{color: red}
#tag42{font-size: 176%;color: #002a8b}
#tag42:hover{color: red}
#tag43{font-size: 74%;color: #86a0dc}
#tag43:hover{color: red}
#tag44{font-size: 344%;color: #4c6db9}
#tag44:hover{color: red}
#tag45{font-size: 400%;color: #607ec5}
#tag45:hover{color: red}
#tag46{font-size: 129%;color: #002a8b}
#tag46:hover{color: red}
#tag47{font-size: 397%;color: #86a0dc}
#tag47:hover{color: red}
#tag48{font-size: 512%;color: #4c6db9}
#tag48:hover{color: red}
#tag49{font-size: 101%;color: #607ec5}
#tag49:hover{color: red}
#tag50{font-size: 343%;color: #002a8b}
#tag50:hover{color: red}
