<html>
	<head>
		<title>WordCloud | HTML</title>
	</head>
	
	<body>
	<form name="main" action="" method="Post">
		
		<a href="/startover">Startover</a>
		<br>
		<label>Enter URL:</label>
		<span><input type="text" size=80 name="urllink" placeholder="ex. http://www.wikipedia.com"></span>
		
		<hr>
		#option 2: enter the text :
		<textarea name="textarea" placeholder="enter your text artcile here">
		</textarea>
		<hr>
		<h2>Select Case:</h2>
		<input type="radio" name="case" value="lower" CHECKED>LowerCase
		<input type="radio" name="case" value="upper">UpperCase
	
		<h2>Show Frequencies</h2>
		<input type="radio" name="show_freq" value="yes" CHECKED>Yes
		<input type="radio" name="show_freq" value="no">No
		<br>
		
		<input type="submit" value="WordCloud">
	</form>
	
	<hr>
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		{% include 'wordcloud.html' %}		

	</body>
</html>


